{{{html}}}

<section class="single-cta">
    <h2 class="single-cta-title">This content is accessible for invited members only</h2>
    <button class="button-text single-cta-footer" data-portal="signin">Click here to enter your email and login</button>
</section>