<div class="my-fancy-nav-wrapper">
    <ul class="nav">

        {{#post}}
            {{#has tag="#fr"}}
                {{!-- <li class="nav-france">LA FRONCE</li> --}}
            {{/has}}
        {{/post}}

            <!-- Loop through the navigation items -->
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            <!-- End the loop -->

    </ul>
</div>

