{{!< bodywrap}}

  <div class="landing-page">
    <header class="header-top"></header>
    <div class="logo-wrapper">
      <div class="logo-top"></div>
    </div>
    <nav class="main-nav">
        {{#post}}
            {{> "content"}}
        {{/post}}
    </nav>
    <div class="main-image-wrapper">
      <div class="main-image"></div>
    </div>
    <div class="centered-logo" style="background-image: url({{@site.logo}});"></div>
  </div>
