body {
    background-color: var(--background-color);
}

.button-icon.cover-arrow {
    display: inline-flex;
    transition: opacity 4s ease;
    opacity: 1;
    .icon {
        color: var(--ghost-accent-color);
        background-color: rgba(255,255,255,.4);
        border-radius: 50%;
    }
}

.site-logo {
    max-height: 7vh;
    z-index: 10;
    transition: opacity 4s ease;
    opacity: 1;
}

.cover-content {
    min-height: 20vh;
    transition: opacity 4s ease, transform 4s ease;
    transform: scale(1);
    opacity: 1;
    max-width: 900px;
}

.cover-description {
    color: black !important;
    font-family: 'Ovo' !important;
    font-style: normal;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 4em;
    font-size: 1.5em;
}
.cover.loading .button-icon, nav.loading .site-logo {
    opacity: 0;
}

.cover.loading .cover-content {
    transform: scale(0.8);
    height: auto;
    opacity: 0;
}

.with-full-cover .cover {
    opacity: .8;
}
/* Tone down cover background mask opacity */
.with-full-cover .cover:before {
    opacity: .2;
}

 /* Force center navigation as it is the only element left */
.is-head-left-logo .gh-head-inner {
    grid-template-columns: 1fr;
}