.is-head-left-logo .gh-head-inner {
    grid-template-columns: 1fr 50% 1fr;
}

.gh-head {
    background-color: var(--accent-background);
}

.nav li a {
    color: var(--invert-text-color);
    font-size: 1.3em;
    padding: 10px;
    position: relative;
}

.nav li.nav-current a {
    border-bottom: 2px solid var(--invert-text-color);
}

.nav li a:hover {
    color: var(--invert-text-color) !important;
    &:before {
        background-color: var(--lighter-gray-color);
        opacity: .1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
    }
}

.gh-head-logo {
    font-size: 2.2rem;
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        justify-content: center;
        margin: 0;
    }
}
