.kg-card.kg-header-card {
    grid-column: full !important;
}

.kg-card.kg-header-card.kg-layout-split.kg-swapped {
    .kg-header-card-text {
        align-items: flex-end;
        padding: min(12vmax, 260px) min(4vmax, 20px) min(12vmax, 260px) min(12vmax, 260px);
    }
    p {
        text-align: right !important;
    }
}

.kg-card.kg-header-card.kg-layout-split:not(.kg-swapped) {
    .kg-header-card-text {
        align-items: flex-start;
        padding: min(12vmax, 260px) min(12vmax, 260px) min(12vmax, 260px) min(4vmax, 20px);
    }
    p {
        text-align: left !important;
    }
}


.kg-card.kg-header-card.kg-width-full picture img{
    object-fit: contain;
    object-position: center;
    mix-blend-mode: multiply;
}

.kg-card.kg-header-card.kg-layout-split picture {
    position: relative;
    
    & > img.kg-header-card-image {
        position: absolute;
        filter: drop-shadow(3px 10px 12px black);
        height: 500px;
        width: 500px;
        padding: 0 !important;
        
        left: 15%;
    }
}
.kg-card.kg-header-card.kg-layout-split:not(.kg-swapped) picture > img.kg-header-card-image {
    left: unset;
    right: 15%;
}


.kg-card:nth-child(3n).kg-header-card.kg-layout-split picture > img.kg-header-card-image {
    rotate: -9deg;
    translate: 6% -3%;
}
.kg-card:nth-child(3n+1).kg-header-card.kg-layout-split picture > img.kg-header-card-image {
    rotate: 5deg;
    translate: 2% 2%;
}
.kg-card:nth-child(3n+2).kg-header-card.kg-layout-split picture > img.kg-header-card-image {
    rotate: -3deg;
    translate: -2% -1%;
}

.kg-card:nth-child(3n+3).kg-header-card.kg-layout-split picture > img.kg-header-card-image {
    rotate: 6deg;
    translate: 4% -1%;
}

/*************************************************************************
*****                   MOBILE SPECIFICS                            *****
*************************************************************************/
.mobile-only {
    display: none !important;
}

@media screen and (max-width:1200px) {
    .gh-content>.kg-width-full+.kg-width-full:not(.kg-width-full.kg-card-hascaption+.kg-width-full) {
        margin: 15px 0;
    }

    .kg-card.kg-header-card.kg-v2.kg-width-full.kg-content-wide:not(.kg-layout-split) picture img {
        display: none;
    }

    .mobile-only {
        display: block !important;
    }
    
    .kg-layout-split .kg-header-card-content {
        display: flex;
        flex-direction: column;

        picture {
            height: 375px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                translate: 0 !important;
                position: unset !important;
                height: 325px !important;
                width: 325px !important;
            }
        }

        .kg-header-card-text.kg-align-center {
            justify-content: space-between;
        }
    }
    .kg-card.kg-header-card.kg-layout-split.kg-swapped, .kg-card.kg-header-card.kg-layout-split:not(.kg-swapped) {
        .kg-header-card-text {
            align-items: center !important;
            padding: min(12vmax, 50px) min(4vmax, 20px) 0 min(4vmax, 20px) !important;
            p {
                text-align: center !important;
            }
        }
    }
}